<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid">
      <a
        [routerLink]="'/'"
        class="navbar-brand fw-bold text-uppercase text-light"
        >Raf cloud</a
      >
      <div
        class="collapse navbar-collapse"
        id="navbarNavAltMarkup"
      >
        @if(userLoggedIn?.readUserPermission) {
        <div class="navbar-nav">
          <a
            [routerLink]="'/user-table'"
            class="nav-link fw-bold text-light"
            aria-current="page"
          >
            Table
          </a>
        </div>
        }
        
        <div class="navbar-nav">
          <a
            [routerLink]="'/machines'"
            class="nav-link fw-bold text-light"
            aria-current="page"
          >
            Machines
          </a>
        </div>
        
        
        
        
        @if(!userLoggedIn) {
        <div class="d-flex">
          <div class="navbar-nav">
            <a
              [routerLink]="'/user-login'"
              class="nav-link fw-semibold text-light"
              aria-current="page"
              style="justify-content: end;
              position: fixed;
              right: 1rem;
              top: 0.6rem;"
            >
              <span>Login</span>
            </a>
          </div>
        </div>
        } @else {
        <div class="d-flex">
          <div class="navbar-nav">
            <a
              (click)="logout()"
              class="nav-link fw-semibold text-light"
              aria-current="page"
              style="cursor: pointer;
              justify-content: end;
              position: fixed;
              right: 1rem;
              top: 0.6rem;"
            >
              <span>Logout {{ userLoggedIn.name }}</span>
            </a>
          </div>
        </div>
        }
      </div>
    </div>
  </nav>
</header>

<div class="container pt-3">
  <router-outlet></router-outlet>
</div>
