<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid">
      <a
        [routerLink]="'/'"
        class="navbar-brand fw-bold text-uppercase text-light"
        >Raf cloud</a
      >
      <div
        class="collapse navbar-collapse justify-content-between"
        id="navbarNavAltMarkup"
      >
        <div class="navbar-nav">
          <a
            [routerLink]="'/user-table'"
            class="nav-link fw-bold text-light"
            aria-current="page"
          >
            Table
          </a>
        </div>
        <div class="d-flex">
          <div class="navbar-nav">
            <a
              [routerLink]="'/user-login'"
              class="nav-link fw-semibold text-light"
              aria-current="page"
            >
              @if(userLoggedIn) {
              <span>{{ userLoggedIn.name }}</span>
              } @else {
              <span>Login</span>
              }
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>

<div class="container pt-3">
  <router-outlet></router-outlet>
</div>
