<div
  class="container bg-dark text-light p-5 rounded-4 shadow-lg mt-5"
  style="max-width: 400px"
>
  <h3 class="mb-4 text-center">Login</h3>

  <form (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="exampleInputEmail" class="form-label">Email address</label>
      <input
        type="email"
        [(ngModel)]="email"
        [ngModelOptions]="{ standalone: true }"
        class="form-control bg-secondary text-light border-0"
        id="exampleInputEmail"
        aria-describedby="emailHelp"
        placeholder="Enter your email"
      />
    </div>

    <div class="mb-4">
      <label for="exampleInputPassword" class="form-label">Password</label>
      <input
        type="password"
        [(ngModel)]="password"
        [ngModelOptions]="{ standalone: true }"
        class="form-control bg-secondary text-light border-0"
        id="exampleInputPassword"
        placeholder="Enter your password"
      />
    </div>

    <div class="d-grid">
      <button type="submit" class="btn btn-info fw-semibold">Submit</button>
    </div>
  </form>
</div>
